#### Reading Data in Pandas

In [84]:

import pandas as pd
fifa_filepath = "///Users/pratyutpannadas/downloads/r test/pokemon_data.csv"
df = pd.read_csv(fifa_filepath,index_col='#')

In [85]:
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
df.tail(2)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

##### Next Item

In [10]:
 df.columns[0]

'Name'

In [17]:
df['Name'][0:5]

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [23]:
df[['Name','HP']].head()

                    Name  HP
#
1              Bulbasaur  45
2                Ivysaur  60
3               Venusaur  80
3  VenusaurMega Venusaur  80
4             Charmander  39

In [24]:
df.Name.head()

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [25]:
df.Name[0:5]

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [27]:
 df.iloc[0,0:3]

Name      Bulbasaur
Type 1        Grass
Type 2       Poison
Name: 1, dtype: object

In [31]:
print(df.iloc[14])

Name          Metapod
Type 1            Bug
Type 2            NaN
HP                 50
Attack             20
Defense            55
Sp. Atk            25
Sp. Def            25
Speed              30
Generation          1
Legendary       False
Name: 11, dtype: object

In [42]:
df.loc[(df['Type 1'] == "Grass") & (df['Attack']> 50) &(df['Type 2'] == "Flying")]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
189,Jumpluff,Grass,Flying,75,55,70,55,95,110,2,False
357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True

In [45]:
df.loc[1, 'Attack']

49

In [50]:
df.loc[3, ['Attack', 'Generation','Legendary']]

   Attack  Generation  Legendary
#
3      82           1      False
3     100           1      False

In [55]:
cols = ['Attack', 'Generation','Legendary']
indices = [2, 5, 10, 100]

df.loc[indices, cols]

     Attack  Generation  Legendary
#
2        62           1      False
5        64           1      False
10       30           1      False
100      30           1      False

In [56]:
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [65]:
df.sort_values(['Type 1','HP'], ascending=[1,0])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...
98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

 #### Makes changes to Data

In [47]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [39]:
df.head()

,Name,Type 1,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
#,,,,,,,,,
1,Bulbasaur,Grass,Poison,49,49,65,65,45,1
2,Ivysaur,Grass,Poison,62,63,80,80,60,1
3,Venusaur,Grass,Poison,82,83,100,100,80,1
3,VenusaurMega Venusaur,Grass,Poison,100,123,122,120,80,1
4,Charmander,Fire,NaN,52,43,60,50,65,1

In [48]:
df= df.drop(columns=['Total'])
49+49+130+45

273

In [49]:
df['Total']= df.iloc[:,3:9].sum(axis=1)
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [51]:
cols= list(df.columns)
cols
df1= df[cols[0:3]+[cols[-1]]+cols[3:-1]]
df1.head(4)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

In [52]:
df1.to_csv('modified pokemon')

In [53]:
df1.to_excel('modified.xlsx')

In [54]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
1,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
2,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
3,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
4,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [58]:
df.loc[df['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560
323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700

In [59]:
df.loc[~df['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [66]:
import re

df.loc[df['Type 1'].str.contains('grass|fire' , flags= re.I, regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [67]:
df.loc[df['Name'].str.contains('pi[a-z]*' , flags= re.I, regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False,250
172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False,245
187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False,250
204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False,410
316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False,302
326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False,470
327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False,360
328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,290
357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,460
393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False,474
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,220
442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False,485
451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False,330
452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False,500
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264
536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False,384
648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False,600
650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313

In [68]:
df.loc[df['Name'].str.contains('^pi[a-z]*' , flags= re.I, regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

In [69]:
df.loc[df['Name'].str.contains('pi[a-z]' , flags= re.I, regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False,250
172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False,250
204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False,410
316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False,302
326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False,470
327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False,360
328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,290
357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,460
393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False,474
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,220
442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False,485
452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False,500
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264
536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False,384
648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False,600
650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313

#### Conditional Changes

In [74]:
df1.loc[df1['Type 1']=='Fire', 'Type 1']='flamer'

df1

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,flamer,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,flamer,Water,600,80,110,120,130,90,70,6,True

In [78]:
df1.loc[df1['Type 1']=='flamer',"Legendary" ]=True

df1

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,flamer,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,flamer,Water,600,80,110,120,130,90,70,6,True

In [83]:
df1.loc[df1['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

df1

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test 1,Test 2
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test 1,Test 2
4,Charmander,flamer,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test 1,Test 2
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test 1,Test 2
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test 1,Test 2
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test 1,Test 2
721,Volcanion,flamer,Water,600,80,110,120,130,90,70,Test 1,Test 2

In [94]:
df.groupby(['Type 1','Type 2']).mean().sort_values('Attack',ascending= False)

                          HP      Attack     Defense     Sp. Atk     Sp. Def  \
Type 1  Type 2
Ground  Fire      100.000000  180.000000  160.000000  150.000000   90.000000
Psychic Fighting   80.666667  160.000000   86.666667   94.666667  110.000000
        Dark       80.000000  160.000000   60.000000  170.000000  130.000000
Bug     Fighting   80.000000  155.000000   95.000000   40.000000  100.000000
Dragon  Electric  100.000000  150.000000  120.000000  120.000000  100.000000
...                      ...         ...         ...         ...         ...
Fairy   Flying     70.000000   45.000000   90.000000  100.000000  110.000000
Ghost   Fire       56.666667   41.666667   68.333333  101.666667   68.333333
Ice     Psychic    55.000000   40.000000   25.000000  100.000000   80.000000
Water   Fairy      85.000000   35.000000   65.000000   40.000000   65.000000
Bug     Water      40.000000   30.000000   32.000000   50.000000   52.000000

                       Speed  Generation  Legendary
Type 1  Type 2
Ground  Fire       90.000000         3.0   1.000000
Psychic Fighting  106.666667         3.0   0.333333
        Dark       80.000000         6.0   1.000000
Bug     Fighting   80.000000         2.0   0.000000
Dragon  Electric   90.000000         5.0   1.000000
...                      ...         ...        ...
Fairy   Flying     60.000000         3.0   0.000000
Ghost   Fire       51.666667         5.0   0.000000
Ice     Psychic    80.000000         1.5   0.000000
Water   Fairy      45.000000         2.0   0.000000
Bug     Water      65.000000         3.0   0.000000

[136 rows x 8 columns]

In [93]:
df.groupby('Type 1').count()

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,69,52,69,69,69,69,69,69,69,69
Dark,31,21,31,31,31,31,31,31,31,31
Dragon,32,21,32,32,32,32,32,32,32,32
Electric,44,17,44,44,44,44,44,44,44,44
Fairy,17,2,17,17,17,17,17,17,17,17
Fighting,27,7,27,27,27,27,27,27,27,27
Fire,52,24,52,52,52,52,52,52,52,52
Flying,4,2,4,4,4,4,4,4,4,4
Ghost,32,22,32,32,32,32,32,32,32,32
Grass,70,37,70,70,70,70,70,70,70,70
Ground,32,19,32,32,32,32,32,32,32,32
Ice,24,11,24,24,24,24,24,24,24,24
Normal,98,37,98,98,98,98,98,98,98,98
Poison,28,13,28,28,28,28,28,28,28,28
Psychic,57,19,57,57,57,57,57,57,57,57
Rock,44,35,44,44,44,44,44,44,44,44
Steel,27,22,27,27,27,27,27,27,27,27
Water,112,53,112,112,112,112,112,112,112,112